<p id="notice"><%= notice %></p>

<p>
  <strong>Colour:</strong>
  <%= @button.colour %>
</p>

<p>
  <strong>Description:</strong>
  <%= @button.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @button.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @button.price %>
</p>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: <%= @button.price %> cents</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Buy a Button"
          data-amount="<%= @button.price %>"
          data-locale="auto"></script>
<% end %>

<%= link_to 'Edit', edit_button_path(@button) %> |
<%= link_to 'Back', buttons_path %>
